# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named ...
__pycache__/
classes/private.py
classes/__pycache__/
env/
static/assets/
static/images/
static/lib/
cloudia.code-workspace